{
  "extends": "loopback",

  "parserOptions": {
    "ecmaVersion": 6
  },

  "plugins": [
    "import"
  ],

  "rules": {
    "func-call-spacing": "off",
    "import/no-unresolved": 2,
    "max-len": "warn",
    "no-unused-vars": ["error", { "args": "none" }],
    "object-curly-spacing": "off",
    "comma-dangle": "off"
  }
}
