{
  "extends": "loopback",

  "parserOptions": {
    "ecmaVersion": 6
  },

  "rules": {
    "no-unused-vars": ["error", { "args": "none" }],
    "func-call-spacing": "off",
    "object-curly-spacing": "off",
    "max-len": "warn"
  }
}
